<nav class="dash-nav">
  <div class="nav-container">
    <a href="/caseworker" class="nav-item {{#ifCond activeTab '===' 'master'}}active{{/ifCond}}">Client List</a>
    <a href="/caseworker/intake" class="nav-item {{#ifCond activeTab '===' 'intake'}}active{{/ifCond}}">New Intake</a>
    <a href="/caseworker/alerts" class="nav-item {{#ifCond activeTab '===' 'alerts'}}active{{/ifCond}}">Urgent Alerts</a>
  </div>
</nav>