<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/logo.png">
  </head>

  <body>
    {{> header }}
    <main>
      {{{body}}}
    </main>
    {{> footer}}
  </body>
</html>